/*empiezo de cero a ver que pasa*/

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Sora:wght@100..800&display=swap');

/*colores: Marrón: #4E3B31 (50%)
Beige: #F5F5DC (30%)
Verde oliva: #556B2F (20%)*/

/* ===========================================================================*/
/*  IMPORTATE !!!! */
/*  POR DEFECTO EL ESTILO ESTÁ DEFINIDO EN TAMAÑO ESCRITORIO */
/* ===========================================================================*/


/*Variables */
/*===========*/
:root{
    --fuente-regular:"Sora", sans-serif;
    --fuente-acento: "Sawarabi Mincho", serif;
    
    --color-principal: #4E3B31; /*rgb(78, 59, 49);*/
    --color-secundario: #F5F5DC;
    --color-acento:#556B2F; /* para el call to action?*/
}

/*Reset*/
/*======*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--fuente-regular);
    /*NUNCA NUNCA NUNCA PONER BACKGROUND COLOR EN UN RESET PORQUE DESPUES LOS ELEMENTOS QUEDAN CON FONDOS EXTRAÑOS !*/
}

img{
    display: block;
    width: 100%;
}

/*Clases de utilidad para no repetir código*/
/*==========================================*/

.contenedor-general{
    /*Evitar que la página se estire demasiado en pantallas muy grandes*/
    max-width:1320px;
    width:100vw; /*evitamos el scroll horizontal, la página no es nunca mayor al ancho del dispositivo*/
    margin-inline:auto; /*centramos el contenido de la página*/
}

.padding-alrededor{
    padding: 1.5rem;
}

.texto-centrado{
    text-align: center;
}

/*------------------------------------------------------------------------------------*/

/*HEADER Y NAV */
/*=================================================*/

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--color-acento);

    color: var(--color-secundario);

    /* COMO SIGUE ESTO: Esto va a necesitar de algun calc() para que no me tape el contenido que sigue */
    position:sticky; /*ahora queda siempre en el mismo lugar aunque haga scroll ! :) */
    top: 0;
    left:0;

    /*debug => esto es para facilitar el desarrollo, facilitando la visualizacion de los elementos*/
    border: 3px solid violet;
    
}

.logo{
    cursor: pointer;
    color:var(--color-secundario);
}

header h1 a{
    color: inherit;
    background-color: transparent;
    text-decoration: none; /*porque Bootstrap sobreescribe algunos estilos :( */
    
}

nav ul{
    display:flex;
    
}

nav ul li{
    margin-right: 1.9rem;
    
    
}

nav ul li a{
    text-decoration: none;
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 1.2rem;
}

nav li:hover{
    transform: scale(1.3);
    text-shadow: 2px 3px 2px rgba(78,59,49,0.8);
    transition: transform 0.2s ease-in-out;
}

/*MAIN */
/*=================================================*/

.main-encabezado{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Cada article lleva la clase contenedor-destino*/

.contenedor-destino{
    padding: 1.2rem;
    /*debug => esto es para facilitar el desarrollo, facilitando la visualizacion de los elementos*/
    border: 3px solid blue;
}

.contenedor-destino h3{
    text-align: center;
    margin-bottom: 1.8rem;
}

.contendedor-destino__presentacion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.contendedor-destino__presentacion p{
    margin-top: 1.5rem;
}

.contenedor-destino__presentacion-texto span{
    margin-right: 1rem;
}

