@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Sora:wght@100..800&display=swap');

/*colores: Marrón: #4E3B31 (50%)
Beige: #F5F5DC (30%)
Verde oliva: #556B2F (20%)*/


/*Variables */
/*===========*/
:root{
    --fuente-regular:"Sora", sans-serif;
    --fuente-acento: "Sawarabi Mincho", serif;
    
    --color-principal: #4E3B31;
    --color-secundario: #F5F5DC;
    --color-acento:#556B2F; /* para el call to action?*/
}

/*Reset*/
/*======*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: #F5F5DC;
    font-family: var(--fuente-regular);
}

/*Clases de utilidad para no repetir código*/
/*==========================================*/

.contenedor-general{
    /*Evitar que la página se estire demasiado en pantallas muy grandes*/
    max-width:1320px;
    width:100vw; /*evitamos el scroll horizontal, la página no es nunca mayor al ancho del dispositivo*/
    margin-inline:auto; /*centramos el contenido de la página*/
}

.padding-alrededor{
    padding: 1.5rem;
}

/*------------------------------------------------------------------------------------*/

/*HEADER Y NAV */
/*=================================================*/

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /*debug => esto es para facilitar el desarrollo, facilitando la visualizacion de los elementos*/
    border: 1px solid violet;
    
}

header h1{
    color: #4E3B31;
    display: inline-block;
    align-items: left;
}

nav{
    color: #4E3B31;
    /*display: flex;
    justify-content: space-around;*/
    font-size: 20px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4E3B31;
    text-decoration: none;
    color: inherit;
    padding: 5px;
    margin: 5px;
}




.titulo{
    text-decoration: none;
    color: inherit;
}

h2{
    font-size: 200%;
    color: #4E3B31;
    text-align: center;
}

h3{
    font-size: 200%;
    color: #4E3B31;
    margin: 10px;
    padding: 10px;
    text-align: center;
}



nav li:hover{
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
}
.contenedor{
    background-color:  #4E3B31;
    display: flex;
    align-items: center;

}   

li{
    padding: 2%;
    background-color: #4E3B31;
    color: #F5F5DC;
    font-size: 1.2rem;
}

li a{
    background-color: #4E3B31;
    color: #F5F5DC;
    text-decoration: none;
}

img{
    margin: 25px;
    width: 50%;
    height: 450px;
    margin-right: 20px;
}

footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer ul li{
    color: #4E3B31;
    background-color: #F5F5DC;
}